<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LoginDAO">

	
	<insert id="insertmember" parameterType="login">
		<![CDATA[
		INSERT INTO member
		VALUES(shop_seq.nextval,
			#{title}, #{writer}, #{content}, 
			sysdate, 0)
		]]>
	</insert>
	
	<!-- <update id="updateshop" parameterType="shop">
		<![CDATA[
		UPDATE shop SET
		TITLE = #{title},
		CONTENT = #{content}
		WHERE SEQ = #{seq}
		]]>
	</update>
	
	<delete id="deleteshop" parameterType="shop">
		<![CDATA[
		DELETE shop
		WHERE SEQ = #{seq}
		]]>
	</delete>
	
	<select id="getshop" parameterType="shop" resultType="shop">
		<![CDATA[
		SELECT *
		FROM shop
		WHERE SEQ = #{seq}
		]]>
	</select>
	
	<select id="getshopList" resultType="shop">
		<![CDATA[
		SELECT *
		FROM shop
		ORDER BY SEQ DESC
		]]>
	</select> -->
</mapper>